@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    transition: all 0.7s ease-in-out;
    transform-style: preserve-3d;
}
.card.flip {
    transform: rotateY(-180deg);
}
.card__face {
    position: absolute;
    backface-visibility: hidden;
}
.card__face--back {
    transform: rotateY(180deg);
}
.card:hover {
    scale: 1.1;
}